@import "./variables.css";
@import "./grid.css";
@import "./button.css";
:root {
	--border-radius: .25rem;
	--text-color: #efefef;
	--text-color-muted: #4a4a4a;
	--text-color-lighter: #ccc;
	--text-color-medium: #8a8e93;
	--text-color-disabled: #606f80;
	--text-color-label: #efefef;
	--text-color-primary: #00d1b2;
	--text-color-primary-high-contrast: #02a990;
	--color-accent-high-contrast-opacity-16: rgba(2, 169, 144, .16);
	--text-color-first: #cbb765;
	--text-color-second: #8e91a7;
	--text-color-third: #a86243;
	--background-color: #0f1923;
	--foreground-color: #141d26;
	--foreground-border-color: #1b2733;
	--foreground-color-high-contrast: #2c3f52;
	--foreground-color-medium-contrast: #263747;
	--foreground-color-medium-contrast-lighten-5: hsl(210, 31%, 11.9%);
	--foreground-color-low-contrast: #1b2733;
	--foreground-color-low-contrast-lighten-3: hsl(210, 30.8%, 15.8%);
	--foreground-color-minimum-contrast: #18222d;
	--main-nav-background-color: #111;
}
html {
	overflow-y: auto;
}
body {
	background-color: var(--background-color);
	color: var(--text-color);
	min-height: 100vh;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	font-size: 16px;
	word-spacing: 1px;
	font-family: Rajdhani, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
#main {
	height: 100vh;
	padding-top: 4.5rem;
	overflow-y: auto;
	overflow-x: hidden;
	&::-webkit-scrollbar {width: 7px;}
	&::-webkit-scrollbar-track {background: var(--text-color-disabled);}
	&::-webkit-scrollbar-thumb {background: var(--main-nav-background-color);}
	&::-webkit-scrollbar-thumb:hover {background: var(--foreground-color-medium-contrast);}
}

/* Fixes */
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
.modal {
	/* We need to add this to prevent FOUC */
	display: none;
}
.adsbygoogle {text-align: center;}
.adsbygoogle + .row {margin-top: 1rem;}

/* Other */
a {
	text-decoration: none;
	color: inherit;
	transition: color 200ms ease-in-out;
}
.card {
	background-color: var(--foreground-color);
	border-radius: var(--border-radius);
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .16);
	color: inherit;
	position: relative;
	& > header {
		padding: 1rem 1.5rem;
		.title {
			display: flex;
			align-items: center;
			color: var(--text-color);
			font-weight: 500;
			line-height: 1.5;
			margin: 0;
		}
	}
	.card-content {
		padding: 1rem;
		& > header {
			font-size: .9rem;
			text-transform: uppercase;
			margin-bottom: .5rem;
		}
	}
	&.bordered {
		border: 1px solid var(--foreground-border-color);
		& > header {border-bottom: 1px solid var(--foreground-color-medium-contrast);}
	}
	& + .card {margin-top: 1.5rem;}
}
